.home-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 560px;
  margin-top: -2%;
}

.marquee-div {
  position: absolute !important;
  bottom: 0;
}
.marquee-text {
  font-size: 48px;
  color: black;
}

.banner-text {
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .home-banner {
    height: 480px;
  }
}
@media screen and (max-width: 480px) {
  .home-banner {
    height: 170px;
    margin-top: -2%;
  }
  .marquee-text {
    font-size: 20px;
  }
  .banner-text {
    font-size: 20px;
  }
}
