// Here you can add other styles
body {
  //   font-family: "Futura Md", sans-serif !important;
  font-family: "PT Mono", monospace !important;
  letter-spacing: -0.03em;
}

// .procard:hover {
//     transform: scale(1.05);
//     z-index: 1000;
//     position: relative;
// }

.n-link {
  cursor: pointer;
}
